// app global css in SCSS form

.blur-background {
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(20px);
}

.notif-blur-background {
  background-color: rgba(100, 100, 100, 0.3);
  backdrop-filter: blur(10px);
}

.notif-black-background {
  background-color: rgba(0, 0, 0, 1);
  outline: 1px solid rgba(255, 255, 255, 0.5);
}

.notif-black-blur-background {
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
  outline: 1px solid rgba(255, 255, 255, 0.5);
}

.notif-warning-blur-background {
  background-color: rgba(112, 77, 0, 0.4);
  backdrop-filter: blur(10px);
  outline: 1px solid rgba(112, 77, 0, 0.5);
}

.notif-positive-blur-background {
  background-color: rgba(0, 104, 24, 0.4);
  backdrop-filter: blur(10px);
  outline: 1px solid rgba(33, 186, 69, 0.5);
}

.notif-negative-blur-background {
  background-color: rgba(170, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  background-color: rgba(170, 0, 0, 0.5);
}
