<template>
  <q-list style="min-width: 200px">
    <q-item>
      <q-item-section>
        <q-item-label>Bulk ARL import wizard</q-item-label>
        <q-item-label caption>
          Parse a random piece of text containing one or more ARLs, and insert
          all of them into Niceerr. Useful if you're scraping ARLs.
        </q-item-label>

        <div v-if="isWizardOpen" class="q-mt-md">
          <q-card>
            <q-card-section>
              <div class="text-h6">
                <q-icon v-if="!importInProgress" name="auto_fix_high" />
                <q-spinner-grid v-else />
                Bulk import wizard
                {{ importInProgress ? '(in progress)' : '' }}
              </div>
            </q-card-section>
            <q-separator inset />
            <q-carousel
              v-model="slide"
              transition-prev="slide-right"
              transition-next="slide-left"
              animated
              height="350px"
            >
              <q-carousel-slide name="parse" class="column no-wrap">
                <div class="q-pa-sm q-gutter-sm">
                  <p>
                    Step 1: Paste below some text containing one or more ARLs,
                    preferably separated by lines. Note that parsing might
                    freeze your browser, depending on the length of the text.
                  </p>
                  <q-input v-model="textToParse" outlined type="textarea" />

                  <div class="row justify-center q-mt-md">
                    <q-btn
                      outline
                      color="white"
                      label="Parse"
                      @click="parseArlsFromText"
                    />
                  </div>
                </div>

                <HighlightedText
                  v-if="showNoArlsFoundMsg"
                  text="Text doesn't seem to contain any ARLs."
                />
              </q-carousel-slide>

              <q-carousel-slide name="review" class="column no-wrap">
                <p>
                  {{ matchedArls.length }} ARL(s) have been parsed. Please
                  review the ARLs, and if you're OK with the results,
                  <q-btn
                    outline
                    dense
                    icon="forward"
                    size="10px"
                    color="white"
                    @click="beginImport"
                  >
                    &nbsp; start &nbsp;
                  </q-btn>
                  the import process.
                </p>
                <div class="q-pa-none">
                  <q-scroll-area style="height: 290px">
                    <q-markup-table dense dark bordered>
                      <thead>
                        <tr>
                          <th class="text-left">#</th>
                          <th class="text-left">ARL string</th>
                          <th class="text-right">Length</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(item, index) in matchedArls" :key="index">
                          <td class="text-left">{{ index + 1 }}</td>
                          <td class="text-left">
                            <code> {{ shortenString(item) }}</code>
                          </td>
                          <td class="text-right">{{ item.length }}</td>
                        </tr>
                      </tbody>
                    </q-markup-table>
                  </q-scroll-area>
                </div>
              </q-carousel-slide>

              <q-carousel-slide name="save" class="column no-wrap">
                <p>
                  {{
                    matchedArls.length === 0
                      ? 'The import process is complete.'
                      : "Please don't refresh or exit this page until the import process is complete."
                  }}
                </p>
                <q-linear-progress
                  v-if="matchedArls.length !== 0"
                  :value="progress"
                  stripe
                  color="grey-10"
                  track-color="white"
                  size="22px"
                  rounded
                  instant-feedback
                  class="q-mt-sm"
                >
                  <div class="absolute-full flex flex-center">
                    <q-badge
                      transparent
                      text-color="black"
                      color="white"
                      :label="progressPercentage"
                    />
                  </div>
                </q-linear-progress>
                <ul>
                  <li>ARLs successfully inserted: {{ insertCount }}</li>
                  <li>ARLs in the insert queue: {{ matchedArls.length }}</li>
                  <li>
                    Errors: {{ errorInsertCount }}
                    <ul v-if="errorInsertCount">
                      <li
                        v-for="[error, count] in errorMapEntries"
                        :key="error"
                      >
                        <code>"{{ error }}"</code>: {{ count }}
                      </li>
                    </ul>
                  </li>
                </ul>
                <p v-if="errorInsertCount">
                  Note: Errors have been detected. One or more ARLs were
                  incorrectly parsed, are expired or already exist in the
                  database. You can open the developer console to see more
                  details.
                </p>
              </q-carousel-slide>
            </q-carousel>

            <div class="row justify-center q-pa-md">
              <q-btn-toggle
                v-model="slide"
                toggle-color="white"
                color="grey-1"
                :options="options"
                outline
              />
            </div>
          </q-card>
        </div>
      </q-item-section>
      <q-item-section avatar>
        <div class="col q-gutter-x-sm">
          <q-btn
            v-if="isWizardOpen"
            :color="importInProgress ? WARNING_COLOR : 'white'"
            outline
            @click="reset"
            >RESET</q-btn
          >
          <q-btn
            outline
            :color="importInProgress ? WARNING_COLOR : 'white'"
            @click="toggleWizard"
          >
            {{ isWizardOpen ? 'close' : 'open wizard' }}
          </q-btn>
        </div>
      </q-item-section>
    </q-item>
  </q-list>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue';
import HighlightedText from '../HighlightedText.vue';
import { ArlUpdate, createArl } from 'src/core/arl';
import { AxiosError } from 'axios';
import { axiosErrorPrettyMessage } from 'src/core/util';
import QNotification from 'src/core/notifications';
import { WARNING_COLOR } from 'src/core/consts';

const textToParse = ref('');
const errorInsertCount = ref(0);
const insertCount = ref(0);
const toInsertCount = ref(0);
const progress = ref(0);
const importInProgress = ref(false);
const showNoArlsFoundMsg = ref(false);
const errorMapCount = ref(new Map<string, number>());
const matchedArls = ref<string[]>([]);
const options = ref([
  { label: '1. Parse', value: 'parse', disabled: false },
  { label: '2. Review', value: 'review', disabled: true },
  { label: '3. Save', value: 'save', disabled: true },
]);
const isWizardOpen = ref(false);
const slide = ref('parse');

const ARL_PATTERN = /(?=.*[a-z])(?=.*\d)[A-Za-z\d]{192}/g;

const progressPercentage = computed(() => {
  return `${(progress.value * 100).toFixed(1)}%`;
});

const errorMapEntries = computed(() => {
  return Array.from(errorMapCount.value.entries());
});

function findMatches(input: string): string[] {
  const matches = input.match(ARL_PATTERN);
  return matches ? Array.from(new Set(matches)) : [];
}

function reset() {
  textToParse.value = '';
  matchedArls.value = [];
  slide.value = 'parse';
  showNoArlsFoundMsg.value = false;
  options.value[0].disabled = false;
  options.value[1].disabled = true;
  options.value[2].disabled = true;
  insertCount.value = 0;
  errorInsertCount.value = 0;
  toInsertCount.value = 0;
  progress.value = 0;
  errorMapCount.value.clear();
}

function shortenString(input: string): string {
  const firstPart = input.slice(0, 30);
  const lastPart = input.slice(-30);
  return `${firstPart}...${lastPart}`;
}

function parseArlsFromText() {
  matchedArls.value = findMatches(textToParse.value);
  if (matchedArls.value.length > 0) {
    options.value[0].disabled = true;
    options.value[1].disabled = false;
    slide.value = 'review';
    showNoArlsFoundMsg.value = false;
  } else {
    showNoArlsFoundMsg.value = true;
  }
}

async function beginImport() {
  options.value[1].disabled = true;
  options.value[2].disabled = false;
  slide.value = 'save';
  importInProgress.value = true;
  const toInsert = matchedArls.value.length;
  toInsertCount.value = toInsert;

  for (let index = 0; index < toInsert; index++) {
    const arl = matchedArls.value.pop();
    if (!arl) break;

    const arlObj: ArlUpdate = {
      alias: `BulkImported:${arl.substring(0, 10)}`,
      token: arl,
    };

    try {
      await createArl(arlObj);
      insertCount.value++;
    } catch (e) {
      const error = await axiosErrorPrettyMessage(e as AxiosError);
      errorMapCount.value.set(error, (errorMapCount.value.get(error) || 0) + 1);
      console.error(`Unable to insert ARL ${arl}: ${error}`);
      errorInsertCount.value++;
    }

    progress.value = (index + 1) / toInsert;
  }

  const notif = new QNotification(
    'Bulk import finished',
    'Please see the wizard section for more details.'
  );
  notif.finishPositive();

  importInProgress.value = false;
}

function toggleWizard() {
  isWizardOpen.value = !isWizardOpen.value;
  if (!isWizardOpen.value) {
    reset();
  }
}
</script>
