<template>
  <div style="max-width: 1000px">
    <q-list style="min-width: 100px">
      <q-item>
        <q-item-section>
          <q-item-label>Order/reindex ARL priorities</q-item-label>
          <q-item-label caption
            >Remove gaps in priorities (this might happen if you delete any
            arbitrary ARL) and ensure sequential order without missing numbers.
          </q-item-label>
        </q-item-section>
        <q-item-section avatar>
          <q-btn
            :loading="resetPrioritiesLoading"
            outline
            @click="runResetPriorities"
          >
            Execute
          </q-btn>
        </q-item-section>
      </q-item>
    </q-list>
    <br />
    <q-separator dark inset />
    <br />
    <!-- Get available countries -->
    <q-list style="min-width: 100px">
      <q-item>
        <q-item-section>
          <q-item-label>Get available ARL countries</q-item-label>
          <q-item-label caption
            >Display a list of countries we have ARLs from.
            <template v-if="!!countryList.length">
              <HighlightedText
                text="Click on any country to add it to the reprioritization list."
              />
            </template>
            <div v-if="!!countryList.length">
              <q-checkbox
                v-if="!!countryList.length"
                v-model="showCountryName"
                color="grey-8"
                style="margin-left: -10px"
                >Display country name
              </q-checkbox>
              <br />
              <div class="q-gutter-xs">
                <template v-for="country in countryList" :key="country">
                  <q-btn
                    class="col-auto"
                    dense
                    size="12px"
                    outline
                    :text-color="
                      prioritizationCountryList.includes(country)
                        ? 'grey-6'
                        : 'white'
                    "
                    :disable="prioritizationCountryList.includes(country)"
                    @click="addItemToReprioritizationList(country)"
                  >
                    {{ showCountryName ? prettyCountryCode(country) : country }}
                  </q-btn>
                </template>
              </div>
            </div>
          </q-item-label>
        </q-item-section>
        <q-item-section avatar>
          <q-btn
            outline
            :loading="changePriorityLoading"
            @click="getAvailableArlCountries"
          >
            Execute
          </q-btn>
        </q-item-section>
      </q-item>
    </q-list>
    <br />

    <!-- ARL reprioritization -->
    <q-list style="min-width: 200px">
      <q-item>
        <q-item-section>
          <q-item-label>Change ARL priority using countries</q-item-label>
          <q-item-label caption
            >Potentially speeds up downloads by allowing Niceerr to bypass the
            ARL fallback mechanism for geo-blocked songs. USA and most european
            countries are less likely to be geo-blocked.
            <br />
            <template v-if="countryList.length">
              <b>
                <HighlightedText
                  text="Priority will be HIGHER for countries at the BEGINING of the
                list."
                ></HighlightedText>
                Click any country from the above button list to add it; click on
                any
                <q-badge outline :color="WARNING_COLOR">orange</q-badge>
                button to remove it.
              </b>
            </template>

            <div v-if="!!prioritizationCountryList.length">
              <br />
              <div class="q-gutter-xs">
                <template
                  v-for="country in prioritizationCountryList"
                  :key="country"
                >
                  <q-btn
                    class="col-auto"
                    dense
                    outline
                    size="12px"
                    :text-color="WARNING_COLOR"
                    @click="removeItemReprioritizationList(country)"
                  >
                    {{ showCountryName ? prettyCountryCode(country) : country }}
                  </q-btn>
                </template>
              </div>
            </div>
          </q-item-label>
        </q-item-section>
        <q-item-section avatar>
          <q-btn
            v-if="prioritizationCountryList.length"
            outline
            :disable="!countryList.length || !prioritizationCountryList.length"
            @click="prioritizationCountryList = []"
          >
            Clear all
          </q-btn>
          <div class="flex-break q-py-xs"></div>
          <q-btn
            outline
            :loading="changePriorityLoading"
            :disable="!prioritizationCountryList.length"
            @click="runPrioritization"
          >
            Execute
          </q-btn>
        </q-item-section>
      </q-item>
    </q-list>

    <!-- Massive ARL parser -->
    <ArlSectionBulkArlParser />
  </div>
</template>

<script setup lang="ts">
import { AxiosError } from 'axios';
import {
  fetchAvailableCountries,
  reprioritizeUsingCountries,
  resetPriorities,
} from 'src/core/console';
import prettyCountryCode from 'src/core/countryc';
import HighlightedText from 'src/components/HighlightedText.vue';
import QNotification from 'src/core/notifications';
import { axiosErrorPrettyMessage } from 'src/core/util';
import { Ref, ref } from 'vue';
import ArlSectionBulkArlParser from './ArlSectionBulkArlParser.vue';
import { WARNING_COLOR } from 'src/core/consts';

const countryList: Ref<string[]> = ref([]);
const prioritizationCountryList: Ref<string[]> = ref([]);
const showCountryName = ref(false);
const changePriorityLoading = ref(false);
const resetPrioritiesLoading = ref(false);

function addItemToReprioritizationList(country: string) {
  if (!prioritizationCountryList.value.includes(country)) {
    prioritizationCountryList.value.push(country);
  }
}

function removeItemReprioritizationList(country: string) {
  prioritizationCountryList.value = prioritizationCountryList.value.filter(
    (it) => it != country
  );
}

async function getAvailableArlCountries() {
  try {
    countryList.value = await fetchAvailableCountries();
  } catch (e) {
    const msg = await axiosErrorPrettyMessage(e as AxiosError);
    const notif = new QNotification(
      "Couldn't fetch available ARL countries",
      msg
    );
    notif.finishNegative();
  }
}

async function runResetPriorities() {
  const notif = new QNotification(
    'Changing ARL priorities...',
    "This shouldn't take long"
  );
  notif.enableSpinner();
  try {
    resetPrioritiesLoading.value = true;
    const response = await resetPriorities();
    const msg = `Changed: ${response.updated}, unchanged: ${response.untouched}. Go to ARL settings to see the changes.`;
    notif.updateMessage('Successfully reset ARL priorities', msg);
    notif.finishPositive();
  } catch (e) {
    const msg = await axiosErrorPrettyMessage(e as AxiosError);
    notif.updateMessage("Couldn't reset priorities", msg);
    notif.finishNegative();
  }
  resetPrioritiesLoading.value = false;
}

async function runPrioritization() {
  const notif = new QNotification(
    'Changing ARL priorities...',
    "This shouldn't take long"
  );
  notif.enableSpinner();
  try {
    changePriorityLoading.value = true;
    const response = await reprioritizeUsingCountries(
      prioritizationCountryList.value
    );
    const msg = `Changed: ${response.updated}, unchanged: ${response.untouched}. Go to ARL settings to see the changes.`;
    notif.updateMessage('Successfully changed ARL priorities', msg);
    notif.finishPositive();
  } catch (e) {
    const msg = await axiosErrorPrettyMessage(e as AxiosError);
    notif.updateMessage("Couldn't change priorities", msg);
    notif.finishNegative();
  }
  changePriorityLoading.value = false;
  /** */
}
</script>
