<template>
  <div style="max-width: 1000px">
    <q-list style="min-width: 100px">
      <q-item>
        <q-item-section>
          <q-item-label>Display scheduler info</q-item-label>
          <q-item-label caption>
            Get useful info about Niceerr's scheduler state
            <template v-if="schedulerState">
              <br /><br />
              <q-list bordered separator>
                <InfoItem
                  raw-name="userDownloadsPrune"
                  description="Regularly removes server-side downloaded files when due for deletion."
                  :value="formatSchedulerState('userDownloadsPrune')"
                />
                <InfoItem
                  raw-name="housekeeping"
                  description="Executes regular tasks to reduce memory usage and clear temporary files from streaming downloads."
                  :value="formatSchedulerState('housekeeping')"
                />
                <InfoItem
                  raw-name="pruneExpiredArl"
                  description="Periodically removes expired or unusable ARLs. Niceerr checks each ARL to determine its validity."
                  :value="formatSchedulerState('pruneExpiredArl')"
                />
                <InfoItem
                  raw-name="primaryArlRefresh"
                  description="Refreshes the server's primary ARL, which is kept in fast-access memory to speed up downloads and queries."
                  :value="formatSchedulerState('primaryArlRefresh')"
                />
                <InfoItem
                  raw-name="relayTokenRefresh"
                  description="Refresh the server's relay token, used to authenticate against another Niceerr instance"
                  :value="formatSchedulerState('relayTokenRefresh')"
                />
              </q-list>
            </template>
          </q-item-label>
          <br />
          <q-checkbox
            v-model="updateSchedulerStateOnExecution"
            color="grey-8"
            style="margin-left: -10px"
          >
            {{ schedulerState ? 'Update' : 'Display' }} scheduler status after
            manually executing a task
          </q-checkbox>
        </q-item-section>
        <q-item-section avatar>
          <q-btn
            :loading="schedulerStateLoading"
            outline
            @click="runGetSchedulerState"
          >
            Execute
          </q-btn>
        </q-item-section>
      </q-item>
    </q-list>
    <br />
    <q-separator dark inset />

    <q-list style="min-width: 100px">
      <q-item-label header>
        <b>Manually execute tasks</b>
        <br /><br />
        Note: Niceerr runs all tasks periodically. This is a convenience
        feature.
      </q-item-label>

      <q-item>
        <q-item-section>
          <q-item-label>User download prune</q-item-label>
          <q-item-label caption
            >Removes user downloads that are due for deletion.</q-item-label
          >
        </q-item-section>
        <q-item-section avatar>
          <q-btn
            outline
            :loading="loadingStates['userDownloadsPrune'].value"
            @click="runScheduledTaskAction('userDownloadsPrune')"
          >
            Execute
          </q-btn>
        </q-item-section>
      </q-item>

      <q-item>
        <q-item-section>
          <q-item-label>Relay token refresh</q-item-label>
          <q-item-label caption
            >Updates the token used to authenticate against the relaying Niceerr
            instance. Won't work if the server wasn't configured to use a
            relay.</q-item-label
          >
        </q-item-section>
        <q-item-section avatar>
          <q-btn
            outline
            :loading="loadingStates['relayTokenRefresh'].value"
            @click="runScheduledTaskAction('relayTokenRefresh')"
          >
            Execute
          </q-btn>
        </q-item-section>
      </q-item>

      <q-item>
        <q-item-section>
          <q-item-label>Housekeeping</q-item-label>
          <q-item-label caption
            >Frees up resources and cleans the temp files
            directory.</q-item-label
          >
        </q-item-section>
        <q-item-section avatar>
          <q-btn
            outline
            :loading="loadingStates['housekeeping'].value"
            @click="runScheduledTaskAction('housekeeping')"
          >
            Execute
          </q-btn>
        </q-item-section>
      </q-item>

      <q-item>
        <q-item-section>
          <q-item-label>Prune expired ARLs</q-item-label>
          <q-item-label caption>
            Removes invalid ARLs. Checks ALL ARLs, so use cautiously.
            <b>Run only if necessary to avoid potential API blocks.</b>&nbsp;
            <q-btn
              v-if="pruneExpiredArlsDisable"
              @click="pruneExpiredArlsDisable = !pruneExpiredArlsDisable"
              outline
              dense
              icon="warning"
              size="10px"
              color="white"
            >
              &nbsp; Unlock &nbsp;
            </q-btn>
          </q-item-label>
        </q-item-section>
        <q-item-section avatar>
          <q-btn
            outline
            :color="pruneExpiredArlsDisable ? 'white' : WARNING_COLOR"
            :disable="pruneExpiredArlsDisable"
            :loading="loadingStates['pruneExpiredArl'].value"
            @click="runScheduledTaskAction('pruneExpiredArl')"
          >
            Execute
          </q-btn>
        </q-item-section>
      </q-item>

      <q-item>
        <q-item-section>
          <q-item-label>Primary ARL refresh</q-item-label>
          <q-item-label caption>
            Updates the cached primary ARL. Available in the top right-side menu
            as "Trigger server ARL refresh".
          </q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </div>
</template>

<script setup lang="ts">
import { AxiosError } from 'axios';
import QNotification from 'src/core/notifications';
import { axiosErrorPrettyMessage, formatNullRelativeDate } from 'src/core/util';
import { Ref, ref } from 'vue';
import {
  getSchedulerState,
  runScheduledTask,
  ScheduledTaskName,
  SchedulerState,
} from 'src/core/scheduler';
import useOptionsStore from 'src/stores/optionsStore';
import InfoItem from '../InfoItem.vue';
import { WARNING_COLOR } from 'src/core/consts';
const optionsStore = useOptionsStore();
const options = optionsStore.options;
const schedulerStateLoading = ref(false);
const pruneExpiredArlsDisable = ref(true);
const schedulerState: Ref<SchedulerState | null> = ref(null);
const updateSchedulerStateOnExecution = ref(true);
const loadingStates: Record<ScheduledTaskName, Ref<boolean>> = {
  housekeeping: ref(false),
  userDownloadsPrune: ref(false),
  pruneExpiredArl: ref(false),
  primaryArlRefresh: ref(false),
  relayTokenRefresh: ref(false),
};

async function runGetSchedulerState() {
  try {
    schedulerStateLoading.value = true;
    const response = await getSchedulerState();
    schedulerState.value = response;
  } catch (e) {
    console.error(e);
    const msg = await axiosErrorPrettyMessage(e as AxiosError);
    const notif = new QNotification("Couldn't fetch scheduler state", msg);
    notif.finishNegative();
  }
  schedulerStateLoading.value = false;
}

function formatSchedulerState(taskName: ScheduledTaskName): string {
  if (!!!schedulerState.value || !schedulerState.value[taskName]) {
    return '';
  }
  const task = schedulerState.value[taskName];
  const formattedDate = options?.useIsoDates
    ? task.lastRun
    : formatNullRelativeDate(task.lastRun, ' ago');
  return `${formattedDate}, ${task.state}`;
}

async function runScheduledTaskAction(task: ScheduledTaskName) {
  const notif = new QNotification(
    `Manually executing '${task}''`,
    "This shouldn't take long...",
    'info'
  );
  notif.enableSpinner();
  loadingStates[task].value = true;

  try {
    const response = await runScheduledTask(task);
    const msg =
      task == 'pruneExpiredArl'
        ? 'Task might have been scheduled to run in a background server thread but will complete soon.'
        : 'Task successfully executed';
    notif.updateMessage('Success', msg);
    notif.finishPositive();
    if (updateSchedulerStateOnExecution.value) {
      schedulerState.value = response;
    }
  } catch (e) {
    console.error(e);
    const msg = await axiosErrorPrettyMessage(e as AxiosError);
    notif.updateMessage("Couldn't execute task", msg);
    notif.finishNegative();
  }
  loadingStates[task].value = false;
}
</script>
