<template>
  <q-menu fit :class="optionsStore.defaultBg">
    <div class="q-pa-sm">
      <q-list style="min-width: 200px; max-width: 300px">
        <!-- User avatar -->
        <q-item v-close-popup>
          <q-item-section side>
            <q-icon name="account_circle" />
          </q-item-section>
          <q-item-section>
            <q-item-label>
              <b> {{ username }}</b>
            </q-item-label>
            <q-item-label caption
              >ID: {{ credStore.getUser?.id }} <br />
            </q-item-label>
          </q-item-section>
        </q-item>
        <!-- ARL refresh -->
        <RefreshArl v-if="canTriggerArlRefresh" />
        <RefreshToken />
        <LogOut />
      </q-list>
    </div>
  </q-menu>
</template>

<script setup lang="ts">
import useCredsStore from 'src/stores/userCreds';
import RefreshToken from 'components/MainLayoutMenu/RefreshToken.vue';
import RefreshArl from 'components/MainLayoutMenu/RefreshArl.vue';
import LogOut from 'components/MainLayoutMenu/LogOut.vue';
import useOptionsStore from 'src/stores/optionsStore';
import { Permission } from 'src/core/user';
import { computed } from 'vue';

const credStore = useCredsStore();
const optionsStore = useOptionsStore();
const rawUsername = credStore.getUser?.username;
const canTriggerArlRefresh = computed(() =>
  credStore.getUser?.hasPermission(Permission.TriggerArlRefresh)
);

const username =
  rawUsername?.length ?? 0 <= 7
    ? rawUsername
    : `${rawUsername?.slice(0, 7)}...`;
</script>
