<template>
  <q-item clickable @click="refresh">
    <q-item-section side>
      <q-icon name="autorenew" />
    </q-item-section>
    <q-item-section>
      <q-item-label>Manually refresh session token</q-item-label>
      <q-item-label caption>
        It's automatically refreshed, though. You're good for another
        {{ formatSecondInterval(remainingSeconds()) }}
      </q-item-label>
    </q-item-section>
  </q-item>
</template>

<script setup lang="ts">
import useCredsStore from 'src/stores/userCreds';
import { useRefreshService } from 'src/core/refreshToken';
import { AxiosError } from 'axios';
import { axiosErrorPrettyMessage, formatSecondInterval } from 'src/core/util';
import QNotification from 'src/core/notifications';

const { refreshToken } = useRefreshService();

async function refresh() {
  const notif = new QNotification(
    'Refreshing user token',
    "This shouldn't take long..."
  );
  try {
    await refreshToken();
    notif.updateMessage('Success', 'Session token has been refreshed.');
    notif.finishPositive();
  } catch (e) {
    console.error(e);
    const msg = await axiosErrorPrettyMessage(e as AxiosError);
    notif.updateMessage("Couldn't session token", msg);
    notif.finishNegative();
  }
}

const credStore = useCredsStore();
const remainingSeconds = () => {
  const date = Date.now();
  return credStore.tokenRemainingSeconds(date) as number;
};
</script>
