<template>
  <q-page :class="optionsStore.fullBlack">
    <div class="q-pa-md q-gutter-sm">
      <q-card dark bordered class="q-pa-md">
        <q-card-section>
          <div class="text-h6">[ niceerr ]</div>
        </q-card-section>
        <div class="q-pa-md">
          A niceerr music discovery server that uses <s>deeznuts</s> deezer as
          its backend.
          <ul>
            <li>Niceerr (UI) v{{ FRONTEND_VERSION }}</li>
            <li>Niceerr (prefs) v{{ prefsVersion }}</li>
            <li>Quasar v{{ version }}</li>
          </ul>
        </div>
        <q-separator />
        <div v-if="canReadServerStats">
          <q-card-section>
            <div class="text-h6">
              Server stats &nbsp;<q-btn
                outline
                :loading="loading"
                icon="dns"
                dense
                label="Fetch server stats &nbsp;"
                @click="showServerInfo"
              ></q-btn>
            </div>
            <div v-if="isServerInfoAvailable">
              <br />
              <div style="max-width: 600px">
                <q-list bordered dense separator>
                  <q-item-label header
                    >Internal queue sizes and capacities</q-item-label
                  >
                  <q-separator />
                  <InfoItem
                    raw-name="requestQueueSize"
                    description="Number of enqueued, unprocessed download requests"
                    :value="serverInfo?.requestQueueSize"
                    unit-label=" request(s)"
                  />
                  <InfoItem
                    raw-name="requestQueueCapacity"
                    description="Allocated capacity of the request queue"
                    tooltip-text="This number will go down every now and then to free up unused resources."
                    :value="serverInfo?.requestQueueCapacity"
                  />
                  <InfoItem
                    raw-name="updateDlQueueSize"
                    description="Number of enqueued, unflushed to DB (but finished) download requests"
                    tooltip-text="This number should usually be 0. A non-zero value could potentially indicate a slow database."
                    :value="serverInfo?.updateDlQueueSize"
                    unit-label=" request(s)"
                  />
                  <InfoItem
                    raw-name="updateDlQueueCapacity"
                    description="Allocated capacity of the update request queue"
                    tooltip-text="This number will go down every now and then to free up unused resources."
                    :value="serverInfo?.updateDlQueueCapacity"
                  />
                  <InfoItem
                    raw-name="songToDbQueueSize"
                    description="Number of enqueued, unflushed to DB (but finished) songs"
                    tooltip-text="This number should usually be 0. A non-zero value could potentially indicate a slow database."
                    :value="serverInfo?.songToDbQueueSize"
                    unit-label=" song(s)"
                  />
                  <InfoItem
                    raw-name="songToDbQueueCapacity"
                    description="Allocated capacity of the song flusher queue"
                    tooltip-text="This number will go down every now and then to free up unused resources."
                    :value="serverInfo?.songToDbQueueCapacity"
                  />
                  <InfoItem
                    raw-name="dbPoolConnections"
                    description="Number of DB connections currently active. This includes idle connections."
                    :value="serverInfo?.dbPoolConnections"
                  />
                  <InfoItem
                    raw-name="dbIdleConnections"
                    description="Number of DB connections active and idle (not in use)."
                    :value="serverInfo?.dbIdleConnections"
                  />
                  <q-separator />
                  <q-item-label header>Limit service stats</q-item-label>
                  <q-separator />
                  <InfoItem
                    raw-name="limitServiceUserCount"
                    description="Number of users with at least 1 active download"
                    :value="serverInfo?.limitServiceUserCount"
                    unit-label=" user(s)"
                  />
                  <InfoItem
                    raw-name="limitServiceGrantedPermits"
                    description="Number of ongoing downloads"
                    :value="serverInfo?.limitServiceGrantedPermits"
                    unit-label=" grant(s)"
                  />
                  <q-separator />
                  <q-item-label header>All-time download stats</q-item-label>
                  <q-separator />
                  <InfoItem
                    raw-name="downloadedBytes"
                    description="Effective downloaded bytes"
                    :value="`${
                      serverInfo?.songStats.downloadedBytes
                    } (${formatByteCount(
                      serverInfo?.songStats.downloadedBytes ?? 0
                    )})`"
                  />
                  <InfoItem
                    raw-name="totalBytes"
                    description="Total discovered bytes (including failed downloads)"
                    :value="`${
                      serverInfo?.songStats.totalBytes
                    } (${formatByteCount(
                      serverInfo?.songStats.totalBytes ?? 0
                    )})`"
                  />
                  <InfoItem
                    raw-name="totalCount"
                    description="Total songs downloaded (includes failed downloads)"
                    :value="serverInfo?.songStats.totalCount"
                    unit-label=" song(s)"
                  />
                  <InfoItem
                    raw-name="errorCount"
                    description="Songs that couldn't be downloaded due to network/geo-fenced/IO issues. Stopped downloads are excluded from this count."
                    :value="serverInfo?.songStats.errorCount"
                    unit-label=" song(s)"
                  />
                  <InfoItem
                    raw-name="sessionCount"
                    description="Number of download requests/sessions so far"
                    :value="serverInfo?.songStats.sessionCount"
                    unit-label=" session(s)"
                  />
                  <q-separator />
                  <q-item-label header>Runtime & config info</q-item-label>
                  <q-separator />
                  <InfoItem
                    raw-name="startedAt"
                    :unit-label="!options.useIsoDates ? ' ago' : undefined"
                    :description="
                      options.useIsoDates
                        ? 'ISO date this server was started at'
                        : 'Relative server startup date'
                    "
                    :value="
                      options.useIsoDates
                        ? serverInfo?.startedAt
                        : formatNullRelativeDate(serverInfo?.startedAt)
                    "
                  />
                  <InfoItem
                    raw-name="rustVersion"
                    description="Versions of the rustc compiler and LLVM backend used to compile the server"
                    :value="serverInfo?.rustVersion"
                  />
                  <InfoItem
                    :icon="
                      serverInfo?.serverVersion != FRONTEND_VERSION
                        ? 'warning'
                        : undefined
                    "
                    :tooltip-text="
                      serverInfo?.serverVersion != FRONTEND_VERSION
                        ? `Frontend UI version (${FRONTEND_VERSION}) doesn\'t match backend version`
                        : 'Frontend and backend versions must always match to ensure all functionality works as expected.'
                    "
                    :icon-color="WARNING_COLOR"
                    raw-name="serverVersion"
                    description="Backend release version"
                    :value="serverInfo?.serverVersion"
                  />
                  <InfoItem
                    raw-name="rssMemoryUsageBytes"
                    description="Resident memory used by Niceerr and shared libraries"
                    tooltip-text="Constant usage and periodic tasks will cause changes in this value."
                    :value="`${
                      serverInfo?.rssMemoryUsageBytes
                    } (${formatByteCount(
                      serverInfo?.rssMemoryUsageBytes ?? 0
                    )})`"
                  />
                  <InfoItem
                    raw-name="tmpFolderSize"
                    description="Niceerr's tmp dir size (should be 0 if there are no active downloads)"
                    tooltip-text="The temp folder is only used to store data for streaming downloads and is immediately cleaned up once the download finishes."
                    :value="
                      serverInfo?.tmpFolderSize != null
                        ? formatByteCount(serverInfo?.tmpFolderSize ?? 0)
                        : 'Server error'
                    "
                  />
                  <InfoItem
                    raw-name="aliveTaskCount"
                    description="Number of tasks managed by the async runtime"
                    unit-label="  task(s)"
                    tooltip-text="This number will go up and down due to existing periodic tasks and constant usage."
                    :value="serverInfo?.aliveTaskCount"
                  />
                  <InfoItem
                    raw-name="threadCount"
                    description="Number of threads in use by the async runtime"
                    unit-label="  thread(s)"
                    tooltip-text="This number will go up and down due to existing periodic tasks and constant usage."
                    :value="serverInfo?.threadCount"
                  />
                  <InfoItem
                    raw-name="hotArlCacheSize"
                    description="Hot ARL cache size"
                    unit-label="  item(s)"
                    tooltip-text="ARLs in the hot cache. This cache is emptied after some inactivity to free up resources."
                    :value="serverInfo?.hotArlCacheSize"
                  />
                  <InfoItem
                    raw-name="activeWorkerCount"
                    description="Number of ACTIVE server-side and streaming download workers"
                    unit-label=" worker(s)"
                    :value="serverInfo?.activeWorkerCount"
                  />
                  <InfoItem
                    raw-name="sseOngoingDownloadSubscribers"
                    description="Active SSE streams for ongoing downloads"
                    tooltip-text="Opening the 'ongoing downloads' tab will increase this number. Streams are used deliver real-time ongoing download updates."
                    unit-label=" sub(s)"
                    :value="serverInfo?.sseOngoingDownloadSubscribers"
                  />
                  <InfoItem
                    raw-name="relayConfigured"
                    description="Whether the server was configured to use a relay or not"
                    :value="serverInfo?.relayConfigured ? 'Yes' : 'NO'"
                  />
                  <InfoItem
                    v-if="serverInfo?.relayConfigured"
                    :icon="
                      serverInfo?.hasValidRelayToken ? undefined : 'warning'
                    "
                    :icon-color="WARNING_COLOR"
                    raw-name="hasValidRelayToken"
                    description="Whether the server has a valid relay token"
                    :value="serverInfo?.hasValidRelayToken ? 'Yes' : 'NO'"
                  />
                  <InfoItem
                    raw-name="serverSideDownloadWorkers"
                    description="(static) Configured download workers for server-side downloads"
                    unit-label=" worker(s)"
                    tooltip-text="Number of threads to use for server-side downloads. A high number might lead to throttled requests."
                    :value="serverInfo?.serverSideDownloadWorkers"
                  />
                  <InfoItem
                    raw-name="streamingDownloadWorkers"
                    description="(static) Configured download workers for streaming downloads"
                    unit-label=" worker(s)"
                    :value="serverInfo?.streamingDownloadWorkers"
                  />
                  <InfoItem
                    raw-name="streamDownloadBufferByteSize"
                    description="(static) Configured streaming download buffer size"
                    tooltip-text="For stream downloads: use this buffer size to read files. This buffer doesn't need to be very big."
                    :value="
                      formatByteCount(
                        serverInfo?.streamDownloadBufferByteSize ?? 0
                      )
                    "
                  />
                  <InfoItem
                    raw-name="streamingDownloadQueueSize"
                    description="(static) Configured song queue size for streaming downloads"
                    tooltip-text="After all the streaming threads have finished downloading a song, keep this many songs in the 'wait' queue."
                    unit-label=" item(s)"
                    :value="serverInfo?.streamingDownloadQueueSize"
                  />
                  <InfoItem
                    raw-name="maxGrantsPerUser"
                    description="(static) Configured max download requests per user"
                    unit-label=" permit(s)"
                    :value="serverInfo?.maxGrantsPerUser"
                  />
                </q-list>
              </div>
              <br />
              <p>
                Tip: You can press or hover over items with the
                <q-icon name="info" color="grey-8"></q-icon> icon for more
                details.
              </p>
              Note: static items display information that never changes, unless
              Niceerr is re-configured and restarted with different parameters.
            </div>
          </q-card-section>
          <q-separator />
        </div>
        <q-card-section>
          <div class="text-h6">FAQ</div>
        </q-card-section>
        <div class="q-pa-md">
          <ul>
            <li>
              <b>Am I an admin? </b>
              {{ isAdmin ? 'Yes' : 'No' }}
            </li>
            <li>
              <b>What's my user level? </b>
              {{ userLevel }}
            </li>
            <li>
              <b> Can I manage other existing users? </b>
              {{
                isAdmin
                  ? userLevel == 0
                    ? 'Yes'
                    : `You can only manage resources and users whose level is greater than ${userLevel}.`
                  : "No, you're a regular user."
              }}
            </li>
            <li>
              <b>How do I change my password?</b> Go to users and click on your
              User ID.
            </li>
            <li>
              <b
                >How do I change username/download quota/download path/etc for
                any given user?</b
              >
              Go to users and click in the attribute you want to change. This
              will open an edit pop-up.
            </li>
            <li>
              <b>Why can't I change some attributes</b>
              Some attributes can only be changed by admins or the super-super
              admin.
            </li>
          </ul>
        </div>
      </q-card>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import { useQuasar } from 'quasar';
import { Info, fetchServerInfo } from 'src/core/info';
import {
  axiosErrorPrettyMessage,
  formatByteCount,
  formatNullRelativeDate,
} from 'src/core/util';
import useCredsStore from 'src/stores/userCreds';
import { Ref, ref } from 'vue';
import InfoItem from 'src/components/InfoItem.vue';
import { AxiosError } from 'axios';
import { FRONTEND_VERSION, WARNING_COLOR } from 'src/core/consts';
import useOptionsStore from 'src/stores/optionsStore';
import QNotification from 'src/core/notifications';
import { Permission } from 'src/core/user';

const q = useQuasar();
const optionsStore = useOptionsStore();
const options = optionsStore.getOrSetDefault();
const version = q.version;
const prefsVersion = optionsStore?.options?.v;
const credStore = useCredsStore();
const user = credStore.getUser;
const canReadServerStats = user?.hasPermission(Permission.ReadServerStats);
const isAdmin = credStore.getUser?.superuser ?? false;
const userLevel = credStore.getUser?.level;
const loading = ref(false);
const serverInfo: Ref<Info | null> = ref(null);
const isServerInfoAvailable = ref(false);

async function showServerInfo() {
  loading.value = true;
  try {
    const info = await fetchServerInfo();
    serverInfo.value = info;
    isServerInfoAvailable.value = true;
  } catch (e) {
    const msg = await axiosErrorPrettyMessage(e as AxiosError);
    const notif = new QNotification("Couldn't fetch server info", msg);
    notif.finishNegative();
  }
  loading.value = false;
}
</script>
