<template>
  <q-page :class="optionsStore.fullBlack">
    <div class="q-pa-md q-gutter-sm">
      <q-card dark bordered class="q-pa-md">
        <q-card-section>
          <div class="text-h6">Admin console tools</div>
        </q-card-section>

        <q-separator dark inset />

        <q-card-section>
          <p>
            You can find tools here to maintain your Niceerr instance. You can't
            grant admin console access to other users (including superusers):
            only the super-superuser has access to it.
          </p>

          <q-tabs v-model="tab" inline-label class="bg-black" align="left">
            <q-tab name="arl" icon="key" label="ARLs" />
            <q-tab name="tasks" icon="timer" label="Internal tasks" />
          </q-tabs>
          <q-separator dark inset />
          <br />
          <ArlSection v-if="tab == 'arl'" />
          <ScheduledTaskSection v-if="tab == 'tasks'" />
          <br />
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import ArlSection from 'src/components/AdminConsole/ArlSection.vue';
import ScheduledTaskSection from 'src/components/AdminConsole/ScheduledTaskSection.vue';
import useOptionsStore from 'src/stores/optionsStore';
import { ref } from 'vue';

const optionsStore = useOptionsStore();
const tab = ref('arl');
</script>
