<template>
  <q-page :class="optionsStore.fullBlack">
    <div class="q-pa-md q-gutter-sm">
      <q-card dark bordered class="q-pa-md">
        <q-table
          flat
          bordered
          dense
          ref="tableRef"
          class="my-sticky-header-table"
          title="ARL management"
          :rows="refData"
          :columns="columns"
          row-key="id"
          v-model:pagination="pagination"
          :loading="loading"
          :rows-per-page-options="TABLE_ROWS_PER_PAGE_ARRAY"
          :filter="filter"
          @request="onRequest"
        >
          <!-- Update alias -->
          <template v-slot:body-cell-alias="props">
            <q-td :props="props">
              {{ props.value }}
              <q-popup-edit
                v-model="props.row.alias"
                v-if="isSuperuser"
                :class="optionsStore.defaultBg"
                title="Update alias"
                label-set="Update"
                buttons
                persistent
                v-slot="scope"
                @save="
                  (value, _initialValue) =>
                    onUpdate(props.row.id, 'alias', value)
                "
              >
                <q-input
                  v-model="scope.value"
                  dense
                  outlined
                  autofocus
                  hint="Use buttons to close"
                />
              </q-popup-edit>
            </q-td>
          </template>
          <!-- Update priority -->
          <template v-slot:body-cell-priority="props">
            <q-td :props="props">
              {{ props.value }}
              <q-popup-edit
                v-model="props.row.priority"
                :class="optionsStore.defaultBg"
                v-if="isSuperuser"
                title="Update priority"
                label-set="Update"
                buttons
                persistent
                v-slot="scope"
                @save="
                  (value, _initialValue) =>
                    onUpdate(props.row.id, 'priority', value)
                "
              >
                A lower number indicates a high priority. 0 is the highest
                priority. <br /><br />

                <q-input
                  v-model.number="scope.value"
                  type="number"
                  dense
                  outlined
                  autofocus
                  hint="Use buttons to close"
                />
              </q-popup-edit>
            </q-td>
          </template>
          <template v-slot:body-cell-id="props">
            <q-td :props="props">
              {{ props.value }}
              <q-popup-edit
                v-model="unusedRef"
                v-if="isSuperuser"
                :class="optionsStore.defaultBg"
                title="Update ARL"
                label-set="Update"
                buttons
                persistent
                v-slot="scope"
                @save="
                  (value, _initialValue) =>
                    onUpdate(props.row.id, 'token', value)
                "
              >
                <q-input
                  v-model="scope.value"
                  dense
                  outlined
                  autofocus
                  hint="Use buttons to close"
                  :rules="[(val) => val.trim().length == 192 || 'Invalid ARL']"
                />
              </q-popup-edit>
            </q-td>
          </template>
          <!-- Action buttons -->
          <template v-slot:body-cell-actions="props">
            <q-td :props="props">
              <!-- Delete user -->
              <ConfirmBtn
                v-if="
                  selfUser?.hasPermissionOverUserId(
                    Permission.DeleteArl,
                    props.row.createdBy
                  )
                "
                color="white"
                label="Delete"
                icon="remove"
                @on-confirm="onDeleteArl(props.row.id)"
              />
            </q-td>
          </template>
          <!-- Settings menu and buttons -->
          <template v-slot:top-right>
            <div class="row no-wrap q-gutter-x-sm">
              <CreateArlBtn
                v-if="selfUser?.hasPermission(Permission.CreateArl)"
                @arl-created="requestServerInteraction"
              />
              <q-input
                outlined
                dense
                debounce="300"
                v-model="filter"
                placeholder="Search"
              >
                <template v-slot:append>
                  <q-icon name="search" />
                </template>
              </q-input>
            </div>
          </template>
        </q-table>
      </q-card>
    </div>
  </q-page>

  <div class="q-pa-md"></div>
</template>

<script setup lang="ts">
import { Pagination } from 'src/core/pagination';
import {
  axiosErrorPrettyMessage,
  formatRelativeDate,
  shortenLongString,
} from 'src/core/util';
import useCredsStore from 'src/stores/userCreds';
import { Ref, onMounted, ref } from 'vue';
import CreateArlBtn from 'src/components/CreateArlBtn.vue';
// import { TableOptionProps, TableOptionPropsImpl } from 'src/core/tableOpts';
import { useRefreshService } from 'src/core/refreshToken';
import { Arl, ArlUpdate, deleteArl, fetchArls, updateArl } from 'src/core/arl';
import ConfirmBtn from 'src/components/ConfirmBtn.vue';
import useOptionsStore from 'src/stores/optionsStore';
import { TABLE_DEFAULT_ROWS, TABLE_ROWS_PER_PAGE_ARRAY } from 'src/core/consts';
import prettyCountryCode from 'src/core/countryc';
import QNotification from 'src/core/notifications';
import { AxiosError } from 'axios';
import { Permission } from 'src/core/user';

const optionsStore = useOptionsStore();
const options = optionsStore.getOrSetDefault();
const loading = ref(true);
const filter = ref('');
const credStore = useCredsStore();
const selfUser = credStore.getUser;
const isSuperuser = credStore.getUser?.superuser ?? false;
const selfId = credStore.getUser?.id;

// eslint-disable-next-line @typescript-eslint/no-explicit-any
const columns: Array<any> = [
  {
    name: 'alias',
    required: true,
    label: 'Token alias',
    align: 'left',
    style: 'font-family: monospace; white-space: pre',
    field: (row: Arl) => shortenLongString(row.alias),
    sortable: true,
  },
  {
    name: 'id',
    required: true,
    label: 'ID (click to update token)',
    align: 'left',
    style: 'font-family: monospace; white-space: pre',
    field: (row: Arl) => row.id,
    sortable: true,
  },
  {
    name: 'createdAt',
    required: true,
    label: 'Created',
    align: 'left',
    field: (row: Arl) =>
      options.useIsoDates
        ? row.createdAt
        : `${formatRelativeDate(row.createdAt)} ago`,
    sortable: true,
  },
  {
    name: 'expiresAt',
    required: true,
    label: 'Expires in',
    align: 'left',
    field: (row: Arl) =>
      options.useIsoDates ? row.expiresAt : formatRelativeDate(row.expiresAt),
    sortable: true,
  },
  {
    name: 'priority',
    required: true,
    label: 'Priority',
    align: 'left',
    field: (row: Arl) => row.priority,
    sortable: true,
  },
  {
    name: 'country',
    required: true,
    label: 'Country',
    align: 'left',
    field: (row: Arl) => prettyCountryCode(row.country),
    sortable: true,
  },
  {
    name: 'actions',
    required: true,
    label: 'Actions...',
    align: 'left',
    sortable: false,
    style: 'max-width: 50px',
  },
];

const refData: Ref<Arl[]> = ref([]);
const unusedRef = ref('');
const tableRef = ref();

// eslint-disable-next-line @typescript-eslint/no-explicit-any
const pagination = ref({
  sortBy: 'priority',
  descending: false,
  page: 0,
  rowsPerPage: TABLE_DEFAULT_ROWS,
  rowsNumber: TABLE_DEFAULT_ROWS,
});

// eslint-disable-next-line @typescript-eslint/no-explicit-any
async function onRequest(props: any) {
  const { page, rowsPerPage, sortBy, descending } = props.pagination;
  let filter: string = props.filter;
  if (options.enableWildcardSearch && filter && filter.length) {
    filter = `%25${filter}%25`;
  }

  loading.value = true;
  const serverPaginationParams = new Pagination(
    // Server-side pagination starts from 0
    page - 1,
    rowsPerPage,
    filter,
    sortBy,
    descending
  );
  try {
    const response = await fetchArls(serverPaginationParams);
    refData.value = response.data;

    pagination.value.page = page;
    pagination.value.rowsPerPage = rowsPerPage;
    pagination.value.sortBy = sortBy;
    pagination.value.descending = descending;
    pagination.value.rowsNumber = response.totalItems;

    loading.value = false;
  } catch (e) {
    const errMsg = await axiosErrorPrettyMessage(e as AxiosError);
    const notif = new QNotification("Couldn't read ARL data", errMsg);
    notif.finishNegative();
    loading.value = false;
    return;
  }
}

async function onDeleteArl(id: string) {
  const notif = new QNotification(
    'Deleting ARL',
    "This shouldn't take long..."
  );
  notif.enableSpinner();
  try {
    await deleteArl(id);
    notif.updateMessage('Success', 'ARL has been deleted.');
    notif.finishPositive();
    tableRef.value.requestServerInteraction();
  } catch (e) {
    const msg = await axiosErrorPrettyMessage(e as AxiosError);
    notif.updateMessage("Couldn't delete ARL", msg);
    notif.finishNegative();
  }
}

async function onUpdate(
  userId: string,
  key: string,
  value: string | number | boolean
) {
  let updatePayload: Record<string, string | number | boolean> = {};
  updatePayload[key] = value;
  const notif = new QNotification(
    'Updating ARL',
    "This shouldn't take long..."
  );
  notif.enableSpinner();
  try {
    await updateArl(userId, updatePayload as ArlUpdate);
    if (userId == selfId) {
      await useRefreshService().refreshToken();
    }
    notif.updateMessage('Success', 'ARL has been updated');
    notif.finishPositive();
  } catch (e) {
    const msg = await axiosErrorPrettyMessage(e as AxiosError);
    notif.updateMessage("Couldn't update ARL", msg);
    notif.finishNegative();
  }
  tableRef.value.requestServerInteraction();
}

function requestServerInteraction() {
  tableRef.value.requestServerInteraction();
}

onMounted(() => {
  tableRef.value.requestServerInteraction();
});
</script>
