<template>
  <q-layout view="lhh LpR ffr">
    <q-page-container>
      <q-page class="row items-center justify-evenly bg-black">
        <q-card
          class="q-pa-md col-xs-12 col-sm-8 col-md-5 col-lg-3 col-xl-2"
          bordered
        >
          <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-sm">
            <q-input
              outlined
              v-model="username"
              label="Username"
              autocomplete="on"
              lazy-rules
              :rules="[
                (val) =>
                  (val && val.length > 0) || 'Username must not be empty',
              ]"
            />

            <q-input
              outlined
              type="password"
              v-model="password"
              label="Password"
              lazy-rules
              :rules="[
                (val) =>
                  (val && val.length > 0) || 'Password must not be empty',
              ]"
            />

            <div class="flex flex-center">
              <q-btn
                label="ENTER THE VOID"
                type="submit"
                outline
                :loading="inProgress"
              />
              <q-btn label="Reset" type="reset" flat class="q-ml-sm" />
            </div>
          </q-form>
        </q-card>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import useCredsStore from 'src/stores/userCreds';
import { useRouter } from 'vue-router';
import { Credentials } from 'src/core/user';
import QNotification from 'src/core/notifications';
import { axiosErrorPrettyMessage } from 'src/core/util';
import { AxiosError } from 'axios';

const username = ref('');
const password = ref('');
const inProgress = ref(false);
const userCreds = useCredsStore();
const router = useRouter();
let notif: QNotification | null = null;

const onSubmit = async () => {
  inProgress.value = true;
  if (notif) {
    notif.dismiss();
  }

  try {
    const user = await Credentials.fromUserPass(username.value, password.value);
    userCreds.setCredentials(user);
    await router.push({ path: '/' });
  } catch (e) {
    console.error('Auth error', e);
    const msg = await axiosErrorPrettyMessage(e as AxiosError);
    notif = new QNotification('Auth error', msg);
    notif.finishNegative();
  }
  inProgress.value = false;
};

const onReset = () => {
  username.value = '';
  password.value = '';
};
</script>
