<template>
  <q-page :class="optionsStore.fullBlack">
    <div class="q-pa-md q-gutter-sm">
      <q-card dark bordered class="q-pa-md">
        <q-card-section>
          <div class="text-h6">User settings</div>
        </q-card-section>

        <q-separator dark inset />

        <q-card-section>
          <p>
            Note: the following settings will be reset if you delete your
            browser's data or cookies.
          </p>
          <div class="text-h6">Download options</div>
          <br />
          <div style="max-width: 600px">
            <q-list style="min-width: 200px">
              <!-- skip live -->
              <q-item clickable @click="options.skipLive = !options.skipLive">
                <q-item-section side>
                  <q-checkbox
                    dense
                    :color="CHECKBOX_COLOR"
                    class="row"
                    v-model="options.skipLive"
                  />
                </q-item-section>
                <q-item-section>
                  <q-item-label>Skip live content</q-item-label>
                  <q-item-label caption
                    >This may cause some albums and songs to not be downloaded
                    at all.</q-item-label
                  >
                </q-item-section>
              </q-item>
              <!-- Include credited -->
              <q-item
                clickable
                @click="options.includeCredited = !options.includeCredited"
              >
                <q-item-section side>
                  <q-checkbox
                    dense
                    :color="WARNING_COLOR"
                    class="row"
                    v-model="options.includeCredited"
                  />
                </q-item-section>
                <q-item-section>
                  <q-item-label
                    >(Artist downloads only) Include credited albums
                  </q-item-label>
                  <q-item-label caption>
                    When downloading entire discographies, include albums the
                    artist is credited with.
                    <q-chip
                      square
                      dense
                      outline
                      :color="
                        options.includeCredited
                          ? WARNING_COLOR
                          : MUTED_CHIP_COLOR
                      "
                      icon="warning"
                      style="padding-bottom: -10px"
                      >May consume a lot of space
                    </q-chip>
                  </q-item-label>
                </q-item-section>
              </q-item>
              <!-- allow fallback -->
              <q-item
                clickable
                @click="options.allowFallback = !options.allowFallback"
              >
                <q-item-section side>
                  <q-checkbox
                    dense
                    :color="CHECKBOX_COLOR"
                    class="row"
                    v-model="options.allowFallback"
                  />
                </q-item-section>
                <q-item-section>
                  <q-item-label> Allow quality fallback</q-item-label>
                  <q-item-label caption
                    >Allow niceerr to download songs in crappier quality formats
                    if the selected quality is unavailable.</q-item-label
                  >
                </q-item-section>
              </q-item>
              <!-- stream by default -->
              <q-item
                clickable
                @click="options.streamDefault = !options.streamDefault"
                v-if="credStore.canChangeStreamSettings"
              >
                <q-item-section side>
                  <q-checkbox
                    dense
                    :color="CHECKBOX_COLOR"
                    class="row"
                    v-model="options.streamDefault"
                  />
                </q-item-section>
                <q-item-section>
                  <q-item-label>Local downloads by default</q-item-label>
                  <q-item-label caption
                    >Clicking the main download button will
                    {{
                      options.streamDefault
                        ? 'download content directly to your browser'
                        : 'start a server-side download'
                    }}
                  </q-item-label>
                </q-item-section>
              </q-item>
              <!-- Download format -->
              <q-item>
                <q-item-section side>
                  <q-icon name="assignment_returned"></q-icon>
                </q-item-section>
                <q-item-section>
                  <q-item-label>Quality</q-item-label>
                  <q-item-label caption
                    >Songs will be downloaded in this format. FLAC is the
                    default and has the highest quality, but also uses more
                    storage.
                  </q-item-label>
                  <div class="q-gutter-sm" style="margin-left: -1.3em">
                    <q-radio
                      v-model="options.streamFormat"
                      :color="RADIO_COLOR"
                      val="Flac"
                      label="FLAC"
                    />
                    <q-radio
                      v-model="options.streamFormat"
                      :color="RADIO_COLOR"
                      val="Mp3_320"
                      label="MP3 320"
                    />
                    <q-radio
                      v-model="options.streamFormat"
                      :color="RADIO_COLOR"
                      val="Mp3_128"
                      label="MP3 128"
                    />
                  </div>
                </q-item-section>
              </q-item>
            </q-list>
          </div>
        </q-card-section>

        <q-card-section>
          <div class="text-h6">User interface</div>
          <br />
          <div style="max-width: 600px">
            <q-list style="min-width: 200px">
              <q-item
                clickable
                @click="
                  options.hideUnsupportedPlatformWarnings =
                    !options.hideUnsupportedPlatformWarnings
                "
              >
                <q-item-section side>
                  <q-checkbox
                    dense
                    :color="CHECKBOX_COLOR"
                    class="row"
                    v-model="options.hideUnsupportedPlatformWarnings"
                  />
                </q-item-section>
                <q-item-section>
                  <q-item-label
                    >Hide unsupported platform warnings</q-item-label
                  >
                  <q-item-label caption>
                    Disable warnings when you use a feature on a potentially
                    unsupported platform.
                  </q-item-label>
                </q-item-section>
              </q-item>

              <q-item
                clickable
                @click="options.interfaceBlur = !options.interfaceBlur"
              >
                <q-item-section side>
                  <q-checkbox
                    dense
                    :color="CHECKBOX_COLOR"
                    class="row"
                    v-model="options.interfaceBlur"
                  />
                </q-item-section>
                <q-item-section>
                  <q-item-label>Enable translucent blur</q-item-label>
                  <q-item-label caption>
                    Aesthetically pleasing tooltips, dialogs, notifications and
                    pop-ups. This will insignificantly increase power usage.
                  </q-item-label>
                </q-item-section>
              </q-item>

              <q-item
                clickable
                @click="
                  options.interfaceFullBlack = !options.interfaceFullBlack
                "
              >
                <q-item-section side>
                  <q-checkbox
                    dense
                    :color="CHECKBOX_COLOR"
                    class="row"
                    v-model="options.interfaceFullBlack"
                  />
                </q-item-section>
                <q-item-section>
                  <q-item-label>Pure black theme</q-item-label>
                  <q-item-label caption
                    >Turn page backgrounds and notifications fully black.
                  </q-item-label>
                </q-item-section>
              </q-item>

              <q-item>
                <q-item-section side>
                  <q-icon :name="preferredInterfaceIcon()"></q-icon>
                </q-item-section>
                <q-item-section>
                  <q-item-label>Behavior</q-item-label>
                  <q-item-label caption
                    >Force <i>some</i> mobile/desktop behavior.
                    <template v-if="options.interface == 'auto'">
                      Auto: detected {{ isMobile ? 'mobile' : 'desktop' }}.
                    </template>
                  </q-item-label>
                  <div class="q-gutter-sm" style="margin-left: -1.3em">
                    <q-radio
                      v-model="options.interface"
                      :color="RADIO_COLOR"
                      val="auto"
                      label="Auto"
                    />
                    <q-radio
                      v-model="options.interface"
                      :color="RADIO_COLOR"
                      val="desktop"
                      label="Desktop"
                    />
                    <q-radio
                      v-model="options.interface"
                      :color="RADIO_COLOR"
                      val="mobile"
                      label="Mobile"
                    />
                  </div>
                </q-item-section>
              </q-item>
            </q-list>
          </div>
        </q-card-section>

        <q-card-section>
          <div class="text-h6">Advanced</div>
          <br />
          <div style="max-width: 600px">
            <q-list style="min-width: 200px">
              <q-item
                clickable
                @click="options.ignoreErrors = !options.ignoreErrors"
              >
                <q-item-section side>
                  <q-checkbox
                    dense
                    :color="CHECKBOX_COLOR"
                    class="row"
                    v-model="options.ignoreErrors"
                  />
                </q-item-section>
                <q-item-section>
                  <q-item-label>Ignore non-fatal errors</q-item-label>
                  <q-item-label caption
                    >When downloading stored content, ask the server to ignore
                    errors if it can't find or open a file.</q-item-label
                  >
                </q-item-section>
              </q-item>
              <q-item
                clickable
                @click="
                  options.enableWildcardSearch = !options.enableWildcardSearch
                "
              >
                <q-item-section side>
                  <q-checkbox
                    dense
                    :color="CHECKBOX_COLOR"
                    class="row"
                    v-model="options.enableWildcardSearch"
                  />
                </q-item-section>
                <q-item-section>
                  <q-item-label>Enable wildcard search</q-item-label>
                  <q-item-label caption
                    >Enables system-wide wildcard search in table views.
                    <br />
                    This basically allows you to search for partial strings,
                    i.e. 'orem' instead of 'lorem ipsum'.
                  </q-item-label>
                </q-item-section>
              </q-item>

              <q-item
                clickable
                @click="options.useIsoDates = !options.useIsoDates"
              >
                <q-item-section side>
                  <q-checkbox
                    dense
                    :color="CHECKBOX_COLOR"
                    class="row"
                    v-model="options.useIsoDates"
                  />
                </q-item-section>
                <q-item-section>
                  <q-item-label>Use UTC ISO8601 dates</q-item-label>
                  <q-item-label caption>
                    Don't use human-readable relative dates in table views.
                  </q-item-label>
                </q-item-section>
              </q-item>

              <q-item
                clickable
                @click="
                  options.downloadViewShowUserId =
                    !options.downloadViewShowUserId
                "
              >
                <q-item-section side>
                  <q-checkbox
                    dense
                    :color="CHECKBOX_COLOR"
                    class="row"
                    v-model="options.downloadViewShowUserId"
                  />
                </q-item-section>
                <q-item-section>
                  <q-item-label>Show user IDs</q-item-label>
                  <q-item-label caption>
                    Display user IDs table views (Ongoing Downloads, Download
                    History).
                  </q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </div>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import { useQuasar } from 'quasar';
import {
  CHECKBOX_COLOR,
  MUTED_CHIP_COLOR,
  RADIO_COLOR,
  WARNING_COLOR,
} from 'src/core/consts';
import useOptionsStore from 'src/stores/optionsStore';
import useCredsStore from 'src/stores/userCreds';

const q = useQuasar();
const credStore = useCredsStore();
const optionsStore = useOptionsStore();
const isMobile = q.platform.is.mobile == true;
const options = optionsStore.getOrSetDefault();

const preferredInterfaceIcon = () => {
  if (options.interface === 'mobile') {
    return 'smartphone';
  } else if (options.interface === 'desktop') {
    return 'computer';
  }
  return 'dashboard';
};
</script>
