<template>
  <q-layout view="hHh Lpr lFf">
    <q-header>
      <q-toolbar class="bg-black text-white">
        <q-btn
          flat
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title>
          <q-chip
            outline
            square
            color="primary"
            text-color="white"
            icon="supervisor_account"
            v-if="!isGod && isSuperUser"
            clickable
            @click="superuserTooltip.click()"
          >
            SU
            <PersistentTooltip
              ref="superuserTooltip"
              text="You're a superuser."
            />
          </q-chip>
          <q-chip
            outline
            square
            color="primary"
            text-color="white"
            icon="bolt"
            v-if="isGod"
            clickable
            @click="superSuperUserTooltip.click()"
            >SSU
            <PersistentTooltip
              ref="superSuperUserTooltip"
              text="You're the super-superuser! You can manage all existing users."
            />
          </q-chip>
        </q-toolbar-title>

        <q-btn outline color="white" :ripple="false" :no-caps="true" round>
          <q-avatar size="30px" color="black" text-color="white">
            {{ username?.slice(0, 2) }}
          </q-avatar>
          <MainMenu />
        </q-btn>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" class="text-white">
      <q-list>
        <q-item-label header> Select an action </q-item-label>

        <EssentialLink
          v-for="link in linksList"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script setup lang="ts">
import { computed, onMounted, onUnmounted, ref } from 'vue';
import EssentialLink, {
  EssentialLinkProps,
} from 'components/EssentialLink.vue';
import { useRefreshService } from 'src/core/refreshToken';
import useCredsStore from 'src/stores/userCreds';
import MainMenu from 'components/MainLayoutMenu/MainMenu.vue';
import { RUN_REFRESH_TASK_INTERVAL_MSEC } from 'src/core/consts';
import PersistentTooltip from 'src/components/PersistentTooltip.vue';
import { Permission } from 'src/core/user';

const superSuperUserTooltip = ref();
const superuserTooltip = ref();
const credStore = useCredsStore();
const { refreshTokenTask } = useRefreshService();

const rawUsername = computed(() => {
  const user = credStore.getUser;
  return user?.username?.length ?? 0 <= 7
    ? user?.username
    : `${user?.username?.slice(0, 7)}...`;
});

const username = computed(() => rawUsername.value);
const isSuperUser = computed(() => credStore.getUser?.superuser);
const userLevel = computed(() => credStore.getUser?.level ?? 9999);
const isGod = computed(() => isSuperUser.value && userLevel.value === 0);

defineOptions({
  name: 'MainLayout',
});

// Convert linksList to a computed property to ensure reactivity
const linksList = computed<EssentialLinkProps[]>(() => [
  {
    title: 'New download',
    caption: 'Paste a link and get new stuff',
    icon: 'download',
    link: '/#/',
    path: '/',
  },
  {
    title: 'Ongoing downloads',
    caption: 'Manage ongoing downloads',
    icon: 'keyboard_double_arrow_down',
    link: '/#/ongoing',
    path: '/ongoing',
    hide: !credStore.getUser?.hasPermission(Permission.ReadOngoingDownload),
  },
  {
    title: 'Previous downloads',
    caption: 'See entire download history',
    icon: 'history',
    link: '/#/history',
    path: '/history',
    hide: !credStore.getUser?.hasPermission(Permission.ReadDownloadSession),
  },
  {
    title: 'Users',
    caption: 'Manage users',
    icon: 'person',
    link: '/#/user',
    path: '/user',
    hide: !credStore.getUser?.hasPermission(Permission.ReadDownloadSession),
  },
  {
    title: 'ARLs',
    caption: 'Manage system ARLs',
    icon: 'key',
    link: '/#/arl',
    path: '/arl',
    hide: !credStore.getUser?.hasPermission(Permission.ReadArl),
  },
  {
    title: 'User settings',
    caption: 'Change user settings',
    icon: 'manage_accounts',
    link: '/#/user-settings',
    path: '/user-settings',
    hide: !credStore.getUser?.hasPermission(Permission.ReadUser),
  },
  {
    title: 'Admin console',
    caption: 'Useful maintenance tools',
    icon: 'settings',
    link: '/#/admin-console',
    path: '/admin-console',
    hide: !credStore.getUser?.hasPermission(Permission.AdminConsoleAccess),
  },
  {
    title: 'About',
    caption: 'Info about niceerr & FAQ',
    icon: 'info',
    link: '/#/about',
    path: '/about',
  },
]);

// Token refresher
// eslint-disable-next-line @typescript-eslint/no-explicit-any
let refresher: any = null;
onMounted(() => {
  refresher = setInterval(refreshTokenTask, RUN_REFRESH_TASK_INTERVAL_MSEC);
});

onUnmounted(() => {
  clearInterval(refresher);
});

// Re-run the refresh token task when the window gains focus
addEventListener('focus', refreshTokenTask);

// Reactive left drawer state
const leftDrawerOpen = ref(false);

function toggleLeftDrawer() {
  leftDrawerOpen.value = !leftDrawerOpen.value;
}
</script>

<style lang="sass">
.my-sticky-header-table
  height: calc(100vh - 115px)

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    background-color: rgb(0 0 0 / 90%)

  thead tr th
    position: sticky
    z-index: 1
  thead tr:first-child th
    top: 0

  tbody
    scroll-margin-top: 48px

.q-popup-edit
  max-width: none !important
  width: 350px !important
</style>
