<template>
  <q-btn icon="add" class="col-xs" dense outline @click="medium = true">
  </q-btn>
  <q-dialog v-model="medium" persistent>
    <q-card
      style="width: 600px; max-width: 90vh"
      :class="optionsStore.defaultBg"
    >
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">New user</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>

      <q-card-section class="q-pt-none">
        <div class="q-pa-md" style="max-width: 940px">
          <q-form @submit="onCreate" @reset="onReset" class="q-gutter-xs">
            <q-input
              outlined
              dense
              v-model="userRef.username"
              label="Username"
              lazy-rules
              :rules="[(val) => stringValidateNotEmpty(val)]"
            />
            <q-input
              outlined
              dense
              type="password"
              v-model="userRef.password"
              label="Password"
              lazy-rules
              :rules="[(val) => stringValidateNotEmpty(val)]"
            />
            <q-input
              outlined
              dense
              v-model="userRef.downloadPath"
              label="Server-side download path (optional)"
              lazy-rules
              :rules="[(val) => optionalStringValidate(val)]"
            />
            <q-input
              outlined
              dense
              type="number"
              v-model.number="userRef.maxBandwidthBytesPerDay"
              label="Daily byte quota (0 means unlimited)"
              lazy-rules
              :rules="[(val) => val >= 0 || 'Value must be positive']"
            />
            <q-input
              outlined
              dense
              type="number"
              v-model.number="userRef.downloadSessionPersistMinutes"
              label="Prune downloads after X minutes (0 disables pruning)"
              lazy-rules
              :rules="[(val) => val >= 0 || 'Value must be positive']"
            />
            <div>
              <q-checkbox
                label="Superuser &nbsp;"
                :color="WARNING_COLOR"
                dense
                v-model="userRef.superuser"
              />
              <q-chip
                outline
                square
                v-if="!userRef.superuser"
                color="white"
                icon="new_releases"
                label="Needs manual permission assignment"
                size="12px"
                clickable
                @click="createUserWoPermissions.click()"
              >
                <PersistentTooltip
                  ref="createUserWoPermissions"
                  text="After creating this user, you'll need to assign it
some permissions before it becomes functional. Otherwise, this user won't be able
to perform any actions."
                ></PersistentTooltip>
              </q-chip>
              <q-chip
                outline
                square
                v-if="userRef.superuser"
                :color="WARNING_COLOR"
                icon="warning"
                label="DANGEROUS"
                size="12px"
                clickable
                @click="createWarningTooltip.click()"
              >
                <PersistentTooltip
                  ref="createWarningTooltip"
                  text="ONLY grant this permission to people you trust.
Superusers can create additional users to consume more resources
and can edit their own permissions."
                ></PersistentTooltip>
              </q-chip>
            </div>
            <br />

            <div>
              <q-btn label="create" type="submit" outline />
              <q-btn label="Reset" type="reset" outline flat class="q-ml-sm" />
            </div>
          </q-form>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { UserUpdate, createUser } from 'src/core/user';
import { ref } from 'vue';
import PersistentTooltip from './PersistentTooltip.vue';
import useOptionsStore from 'src/stores/optionsStore';
import { axiosErrorPrettyMessage } from 'src/core/util';
import QNotification from 'src/core/notifications';
import { AxiosError } from 'axios';
import { WARNING_COLOR } from 'src/core/consts';

const emit = defineEmits(['userCreated']);
const createWarningTooltip = ref();
const createUserWoPermissions = ref();
const optionsStore = useOptionsStore();

const medium = ref(false);
const user: UserUpdate = {
  username: null,
  password: null,
  superuser: false,
  downloadPath: null,
  maxBandwidthBytesPerDay: 0,
  downloadSessionPersistMinutes: 0,
};
const userRef = ref(user);

function stringValidateNotEmpty(s: string): boolean | string {
  return (s && s.trim().length > 0) || 'Field must not be empty';
}

function optionalStringValidate(s: string): boolean | string {
  if (s == null) return true;
  else if (s.length > 256) {
    return 'Length must be 255 or less';
  }
  return (s && s.trim().length > 0) || 'Field must not be empty';
}

async function onCreate() {
  const notif = new QNotification('Creating user', "This shouldn't take long");
  notif.enableSpinner();
  try {
    await createUser(userRef.value);
    notif.updateMessage('Success', 'User has been created.');
    notif.finishPositive();
    emit('userCreated');
    medium.value = false;
    onReset();
  } catch (e) {
    const msg = await axiosErrorPrettyMessage(e as AxiosError);
    notif.updateMessage("Couldn't create user", msg);
    notif.finishNegative();
  }
}

function onReset() {
  userRef.value.username = null;
  userRef.value.password = null;
  userRef.value.superuser = false;
  userRef.value.downloadPath = null;
  userRef.value.downloadSessionPersistMinutes = 0;
  userRef.value.maxBandwidthBytesPerDay = 0;
}
</script>
