<template>
  <q-btn icon="add" class="col-xs" dense outline @click="medium = true">
  </q-btn>
  <q-dialog v-model="medium" persistent>
    <q-card
      style="width: 600px; max-width: 90vh"
      :class="optionsStore.defaultBg"
    >
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">New ARL</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>

      <q-card-section class="q-pt-none">
        <div class="q-pa-md" style="max-width: 940px">
          <q-form @submit="onCreate" @reset="onReset" class="q-gutter-xs">
            <q-input
              outlined
              dense
              v-model="arlRef.alias"
              label="Alias for this token"
              lazy-rules
              :rules="[(val) => stringValidateNotEmpty(val)]"
            />
            <q-input
              outlined
              dense
              v-model="arlRef.token"
              label="ARL (token)"
              lazy-rules
              :rules="[
                (val) =>
                  (stringValidateNotEmpty(val) && val.length > 100) ||
                  'Invalid ARL',
              ]"
            />
            <div>
              <q-btn label="Create" type="submit" outline />
              <q-btn label="Reset" type="reset" outline flat class="q-ml-sm" />
            </div>
          </q-form>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { AxiosError } from 'axios';
import { ArlUpdate, createArl } from 'src/core/arl';
import QNotification from 'src/core/notifications';
import { axiosErrorPrettyMessage } from 'src/core/util';
import useOptionsStore from 'src/stores/optionsStore';
import { ref } from 'vue';

const emit = defineEmits(['arlCreated']);
const optionsStore = useOptionsStore();

const medium = ref(false);
const user: ArlUpdate = {
  token: '',
  alias: '',
};
const arlRef = ref(user);

function stringValidateNotEmpty(s: string): boolean | string {
  return (s && s.trim().length > 0) || 'Field must not be empty';
}

async function onCreate() {
  const notif = new QNotification('Creating ARL', "This shouldn't take long");
  notif.enableSpinner();
  try {
    await createArl(arlRef.value);
    notif.updateMessage('Success', 'ARL has been created.');
    notif.finishPositive();
    emit('arlCreated');
    medium.value = false;
    onReset();
  } catch (e) {
    const msg = await axiosErrorPrettyMessage(e as AxiosError);
    notif.updateMessage("Couldn't create ARL", msg);
    notif.finishNegative();
  }
}

function onReset() {
  arlRef.value.token = '';
  arlRef.value.alias = '';
}
</script>
