<template>
  <q-badge
    color="white"
    v-if="it.isPruned"
    outline
    @click="prunedTooltip.click()"
  >
    <PersistentTooltip
      ref="prunedTooltip"
      text="This download session's files have been pruned."
    />
    <q-icon name="delete_forever" size="18px" />
  </q-badge>
  <q-badge
    color="white"
    v-if="it.allowFallback"
    outline
    @click="qualityFallbackTooltip.click()"
  >
    <PersistentTooltip
      ref="qualityFallbackTooltip"
      text="Quality fallback was allowed."
    />
    <q-icon name="trending_down" size="18px" />
  </q-badge>
  <q-badge
    color="white"
    v-if="it.isStream"
    outline
    @click="directDownloadTooltip.click()"
  >
    <PersistentTooltip
      ref="directDownloadTooltip"
      text="Direct browser download (no files were saved to disk)."
    />
    <q-icon name="cloud_download" size="18px" />
  </q-badge>
  <q-badge
    color="white"
    v-if="it.downloadKind == 'Artist' && it.includeCredited"
    outline
    @click="creditedAlbumsTooltip.click()"
  >
    <PersistentTooltip
      ref="creditedAlbumsTooltip"
      text="Credited albums were downloaded."
    />
    <q-icon name="control_point_duplicate" size="18px" />
  </q-badge>
  <q-badge
    color="white"
    v-if="it.skipLive"
    outline
    @click="liveSkippedTooltip.click()"
  >
    <PersistentTooltip
      ref="liveSkippedTooltip"
      text="Live content was skipped."
    />
    <q-icon name="voice_over_off" size="18px" />
  </q-badge>
</template>

<script setup lang="ts">
import { DownloadHistoryEntry } from 'src/core/history';
import { ref } from 'vue';
import PersistentTooltip from './PersistentTooltip.vue';

const prunedTooltip = ref();
const qualityFallbackTooltip = ref();
const directDownloadTooltip = ref();
const creditedAlbumsTooltip = ref();
const liveSkippedTooltip = ref();

export interface DownloadSessionTooltipProps {
  it: DownloadHistoryEntry;
}

withDefaults(defineProps<DownloadSessionTooltipProps>(), {});
</script>
