<template>
  <q-list>
    <q-item
      clickable
      tag="a"
      :href="link"
      :active="path == currentRoute()"
      v-if="!hide"
      active-class="bg-grey-10"
    >
      <q-item-section v-if="icon" avatar>
        <q-icon :name="icon" />
      </q-item-section>

      <q-item-section>
        <q-item-label>{{ title }}</q-item-label>
        <q-item-label caption>{{ caption }}</q-item-label>
      </q-item-section>
    </q-item>
  </q-list>
</template>

<script setup lang="ts">
import { useRouter } from 'vue-router';

const router = useRouter();
const currentRoute = () => {
  return router.currentRoute.value.path;
};

defineOptions({
  name: 'EssentialLink',
});

export interface EssentialLinkProps {
  title: string;
  path: string;
  caption?: string;
  link?: string;
  icon?: string;
  hide?: boolean;
}

withDefaults(defineProps<EssentialLinkProps>(), {
  caption: '',
  link: '#',
  icon: '',
  hide: false,
});
</script>
