<template>
  <q-item :clickable="!!tooltipText && needsClickable" @click="tooltip.click()">
    <PersistentTooltip
      v-if="tooltipText"
      :text="tooltipText"
      ref="tooltip"
      :offset="[0, 80]"
      anchor="bottom middle"
      self="bottom middle"
    />
    <q-item-section>
      <div class="row justify-between items-start q-col-gutter-md">
        <div class="col-auto">
          <q-item-label class="text-weight-bold">
            <div class="row items-center" style="font-family: monospace">
              <q-icon
                :name="icon"
                :color="iconColor"
                v-if="icon"
                class="q-mr-sm"
              ></q-icon>
              <q-icon
                name="info"
                color="grey-8"
                v-if="tooltipText && !icon"
                class="q-mr-sm"
              ></q-icon>
              {{ rawName }}
            </div>
          </q-item-label>
        </div>
        <div class="col-auto">
          <q-item-label class="right" style="font-family: monospace">
            {{ value }}{{ unitLabel }}
          </q-item-label>
        </div>
      </div>
      <q-item-label caption lines="5" class="q-mt-sm">
        {{ description }}
      </q-item-label>
    </q-item-section>
  </q-item>
</template>

<style scoped>
@media (max-width: 599px) {
  .row.justify-between {
    flex-direction: column;
  }
  .col-auto {
    width: 100%;
  }
  .text-right {
    text-align: left;
  }
}
</style>

<script setup lang="ts">
import { ref } from 'vue';
import PersistentTooltip from './PersistentTooltip.vue';
import useOptionsStore from 'src/stores/optionsStore';
import { useQuasar } from 'quasar';

const isMobile = useQuasar().platform.is.mobile === true;
const optionsStore = useOptionsStore();
const needsClickable =
  optionsStore.getOrSetDefault().interface === 'mobile' || isMobile;

const tooltip = ref();

export interface InfoItemProps {
  rawName?: string;
  description?: string;
  value?: string | number;
  unitLabel?: string;
  icon?: string;
  iconColor?: string;
  tooltipText?: string;
}
withDefaults(defineProps<InfoItemProps>(), {
  iconColor: 'white',
});
</script>
