<template>
  <q-popup-edit
    :class="optionsStore.defaultBg"
    v-model="permsDummyModel"
    title="Edit or view permissions"
    @hide="() => {}"
    ref="permsEditorRef"
  >
    <UserPermissionEditor
      :manual-emit-button="true"
      :permissions="permissions"
      :default-superuser="superuser"
      @update="
        (perms) => {
          emit('update', perms);
          permsEditorRef.cancel();
        }
      "
      @cancel="permsEditorRef.cancel()"
    />
  </q-popup-edit>
</template>

<script setup lang="ts">
import { ServerPermission } from 'src/core/user';
import useOptionsStore from 'src/stores/optionsStore';
import { ref } from 'vue';
import UserPermissionEditor from './UserPermissionEditor.vue';

interface SingleUserEditorProps {
  permissions: ServerPermission[];
  superuser: boolean;
}
defineProps<SingleUserEditorProps>();
const emit = defineEmits(['update']);

const permsEditorRef = ref();
const permsDummyModel = ref('dummy');
const optionsStore = useOptionsStore();
</script>
