<template>
  <div class="q-pa-xs">
    <q-checkbox
      v-if="selfUser?.isSuperuser()"
      :color="WARNING_COLOR"
      v-model="isSuperuser"
      label="Superuser"
    />
    <q-checkbox
      color="grey-8"
      v-if="!isSuperuser"
      v-model="detailedDescriptions"
      label="Detailed descriptions"
    />

    <template v-if="isSuperuser">
      <div>
        <q-badge :color="WARNING_COLOR" outline label="DANGEROUS" />
        <span class="q-ml-sm"
          >This grants all available permissions. Only grant to people you
          trust.</span
        >
      </div>
    </template>

    <template v-else>
      <div v-if="selfUser?.isSuperuser()">
        Shortcuts:
        <q-chip
          label="Only basic perms"
          @click="grantSafePerms()"
          clickable
          outline
          square
          dense
          size="12px"
        /><q-chip
          label="Clear all"
          v-if="selectedPermissions.length"
          clickable
          @click="selectedPermissions = []"
          outline
          square
          dense
          size="12px"
        />
      </div>
      <q-scroll-area style="height: 250px" class="q-my-xs">
        <q-markup-table dense bordered wrap-cells>
          <thead>
            <tr>
              <th class="text-left">
                Permissions ({{ selectedPermissions.length }}/{{
                  PERMISSION_DATA.length
                }})
              </th>
              <th class="text-right">Grant</th>
              <th class="text-right">
                <q-chip
                  outline
                  class="q-ma-none"
                  :color="WARNING_COLOR"
                  label="ALL"
                  clickable
                  square
                  dense
                  icon="warning"
                  size="12px"
                  @click="persistentTooltipRef.click()"
                >
                  <PersistentTooltip
                    text="Grant this permission a wider ('all') scope,
allowing it to affect other users or their resources.
Enable detailed descriptions for more details."
                    ref="persistentTooltipRef"
                  />
                </q-chip>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="perm in PERMISSION_DATA" :key="perm.name">
              <td class="text-left">
                {{
                  detailedDescriptions
                    ? isPermissionScopeAll(perm.name)
                      ? perm.detailScopeAll
                      : perm.detail
                    : perm.desc
                }}
              </td>
              <td class="text-right">
                <q-checkbox
                  dense
                  :disable="!selfUser?.isSuperuser()"
                  :model-value="isPermissionSelected(perm.name)"
                  color="grey-8"
                  @update:model-value="(v) => updatePermission(perm, v)"
                />
              </td>
              <td class="text-right">
                <q-checkbox
                  v-if="perm.supportsScope"
                  :disable="
                    !isPermissionSelected(perm.name) || !selfUser?.isSuperuser()
                  "
                  dense
                  :model-value="isPermissionScopeAll(perm.name)"
                  @update:model-value="(v) => updateScope(perm, v)"
                  :color="WARNING_COLOR"
                />
              </td>
            </tr>
          </tbody>
        </q-markup-table>
      </q-scroll-area>
    </template>
    <template v-if="manualEmitButton">
      <div class="row justify-center">
        <q-btn label="Cancel" @click="emit('cancel')"></q-btn>
        <q-btn
          v-if="selfUser?.isSuperuser()"
          label="Update"
          @click="
            emit('update', {
              superuser: isSuperuser,
              permissions: selectedPermissions,
            })
          "
        ></q-btn>
      </div>
    </template>
  </div>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue';
import { Permission, PERMISSION_DATA, ServerPermission } from 'src/core/user';
import useCredsStore from 'src/stores/userCreds';
import { WARNING_COLOR } from 'src/core/consts';
import PersistentTooltip from './PersistentTooltip.vue';

interface UserPermissionEditorProps {
  manualEmitButton?: boolean;
  defaultSuperuser?: boolean;
  permissions?: ServerPermission[];
}

const persistentTooltipRef = ref();
const props = withDefaults(defineProps<UserPermissionEditorProps>(), {
  defaultSuperuser: false,
  permissions: () => [],
});
const selfUser = useCredsStore().getUser;

const isSuperuser = ref(props.defaultSuperuser);
const detailedDescriptions = ref(false);

const selectedPermissions = ref<ServerPermission[]>(props.permissions);

function isPermissionSelected(permName: Permission): boolean {
  return selectedPermissions.value.some((p) => p.name === permName);
}

function isPermissionScopeAll(permName: Permission): boolean {
  const perm = selectedPermissions.value.find((p) => p.name === permName);
  return perm ? perm.scope === 'all' : false;
}

function updatePermission(
  perm: (typeof PERMISSION_DATA)[number],
  isSelected: boolean
) {
  if (isSelected) {
    if (!isPermissionSelected(perm.name)) {
      selectedPermissions.value.push({ name: perm.name, scope: 'caller' });
    }
  } else {
    selectedPermissions.value = selectedPermissions.value.filter(
      (p) => p.name !== perm.name
    );
  }
}

function updateScope(
  perm: (typeof PERMISSION_DATA)[number],
  isScopeAll: boolean
) {
  const index = selectedPermissions.value.findIndex(
    (p) => p.name === perm.name
  );
  if (index !== -1) {
    selectedPermissions.value[index].scope = isScopeAll ? 'all' : 'caller';
  }
}

function grantSafePerms() {
  selectedPermissions.value = [];
  selectedPermissions.value.push({
    name: Permission.ReadUser,
    scope: 'caller',
  });
  selectedPermissions.value.push({
    name: Permission.UpdateUserBasicInfo,
    scope: 'caller',
  });
  selectedPermissions.value.push({
    name: Permission.PerformStreamDownload,
    scope: 'caller',
  });
  selectedPermissions.value.push({
    name: Permission.ReadDownloadSession,
    scope: 'caller',
  });
  selectedPermissions.value.push({
    name: Permission.ReadOngoingDownload,
    scope: 'caller',
  });
  selectedPermissions.value.push({
    name: Permission.StopOngoingDownload,
    scope: 'caller',
  });
}

// Emitting changes
const emit = defineEmits(['update', 'cancel']);
if (!props.manualEmitButton) {
  watch(
    [isSuperuser, selectedPermissions],
    ([newSuperuser, newPerms]) => {
      emit('update', { superuser: newSuperuser, permissions: newPerms });
    },
    { deep: true }
  );
}
</script>
